:root {
    --primary-color-800: hsl(300, 43%, 22%);
    --primary-color-300: hsl(303, 10%, 53%);
    --primary-color-100: hsl(300, 24%, 96%);

    --accent-color-400: hsl(333, 80%, 67%);

    --neutral-color-100: hsl(0, 0%, 100%);

    --font-family-leagueSpartan: 'League Spartan', sans-serif;

    --font-size-rating: clamp(1rem, calc(1rem + ((1vw - 0.234375rem) * 0.0939)), 1.0625rem);
    --font-size-heading: clamp(2.3125rem, calc(2.3125rem + ((1vw - 0.234375rem) * 2.1596)), 3.75rem);
    --font-size-subHeading: clamp(1.0938rem, calc(1.0938rem + ((1vw - 0.234375rem) * 0.1408)), 1.1875rem);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: 1fr 3.5rem;
    align-items: center;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: 
        url(images/bg-pattern-top-mobile.svg),
        url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: 
        no-repeat,
        no-repeat;
    background-position: 
        top,
        bottom;
    background-size: 100%;
    font-family: var(--font-family-leagueSpartan);
}

img,
picture {
    max-width: 100%;
    display: block;
}

.social-proof-container {
    width: 87.47vw;
    max-width: 69.5rem;
    margin-inline: auto;
    padding-top: 4.6875rem;
}

.header-section,
.rating-section {
    width: 100%;
    margin-bottom: 2.8125rem;
    text-align: center;
}

.header-section__heading {
    display: block;
    margin-inline: auto;
    margin-bottom: 1.5625rem;
    line-height: 0.8;
    width: 73.170731707317073170731707317073%;
    max-width: 25.840625rem;
    font-size: var(--font-size-heading);
    color: var(--primary-color-800);
}

.header-section__subheading {
    width: 100%;
    max-width: 40.625rem;
    margin-inline: auto;
    line-height: 1.35;
    color: var(--primary-color-300);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-subHeading);
}

.rating-section__wrapper {
    padding-top: 1.125rem;
    padding-bottom: 0.625rem;
    border-radius: 0.4375rem;
    max-width: 40.625rem;
    margin-inline: auto;
    background-color: var(--primary-color-100);
}

.rating-section__wrapper:not(:last-child) {
    margin-bottom: 0.9375rem;
}

.rating-section__stars-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
}

.rating-section__rating-depiction {
    color: var(--primary-color-800);
    font-size: var(--font-size-rating);
    font-weight: var(--font-weight-bold);
}

.testimonial-section {
    width: 100%;
}

.testimonial-section__figure {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 10px;
    color: var(--neutral-color-100);
    background-color: var(--primary-color-800);
}

.testimonial-section__figure:not(:last-child) {
    margin-bottom: 0.9375rem;
}

.testimonial-section__user-container,
.testimonial-section__user-testimonial {
    width: 78.353658536585365853658536585366%;
    margin-inline: auto;
}

.testimonial-section__user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5625rem;
    margin-bottom: 1.25rem;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-name {
    font-weight: var(--font-weight-bold);
}

.user-status {
    color: var(--accent-color-400);
}

.attribution {
    width: 100vw;
}
.attribution a {
    color: var(--primary-color-800);
}

@media screen and (min-width: 48rem) {
    body {
        background-image: 
        url(images/bg-pattern-top-desktop.svg),
        url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: 
        no-repeat,
        no-repeat;
    background-position: 
        top left,
        bottom right;
    background-size: initial;
    }
}

@media screen and (min-width: 64rem) {
    .social-proof-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'header rating'
            'testimonial testimonial';
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

    .header-section {
        grid-area: header;
        text-align: left;
        width: 80%;

    }

    .header-section__heading {
        margin-inline: 0;
    }

    .rating-section {
        grid-area: rating;
    }

    .testimonial-section {
        grid-area: testimonial;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;
        gap: 1.25rem;
    }

    .testimonial-section__figure {
        height: 100%;
    }
    .testimonial-section__figure:not(:last-child) {
        margin-bottom: 0;
    }  
}

@media screen and (min-width: 75rem) {
    .social-proof-container {
        grid-template-columns: repeat(2, 34.75rem);
        grid-template-rows: repeat(2, 18.3125rem);
        align-items: start;
    }

    .header-section {
        width: 100%;
    }

    .header-section__heading{
        margin-bottom: 2rem;
    }

    .header-section__subheading {
        width: 88%;
        margin-inline: 0;
    }

    .rating-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        margin-bottom: 1.875rem;
    }

    .rating-section__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-inline: 0;
        gap: 1.875rem;
        width: 27.8125rem;
    }

    .rating-section__wrapper:nth-child(2) {
        align-self: center;
    }
    .rating-section__wrapper:nth-child(3) {
        align-self: flex-end;
    }

    .rating-section__stars-container {
        margin-bottom: 0.3125rem;
    }

    .testimonial-section {
        height: 100%;
    }

    .testimonial-section__figure {
        height: 14.625rem;
        width: 21.9375rem;
    }

    .testimonial-section__figure:nth-child(1) {
        align-self: flex-start;
    }

    .testimonial-section__figure:nth-child(3) {
        align-self: flex-end;
    }
}